[defaults]
host_key_checking = False
inventory = inventory.aws_ec2.yml

[connection]
pipelining = True

[ssh_connection]
# Forzar el transporte a través del plugin SSM
ansible_connection = amazon.aws.aws_ssm